<!doctype html>

<title>Error | Web File Proxy</title>

<link rel="stylesheet" crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
      integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" />

<section class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Error
            </h1>
            <h2 class="subtitle">
                {{.}}
            </h2>
        </div>
    </div>
</section>